{
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "prettier"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "webextensions": true,
        "node": true,
        "es6": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "no-console": "warn"
    }
}